<?xml version="1.0"?>
<launch>
    <arg name="mode" default="default"/>
    <arg name="debug" default="0"/>
    <arg name="namespace" default="uds"/>
    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find uds_description)/robots/$(arg mode)_rviz.xacro' debug:=$(arg debug) namespace:=$(arg namespace)" />
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
